.container-ListDep {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-ListDep h1 {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font: Arial;
    margin-block: 40px;
}

.container-ListDep a {
    color: #ffffff;
    margin-top: 20px;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    margin-block: 10px;
}