.container-fun {
    display: flex;
    background-color: rgb(243, 242, 242);
    box-sizing: 100%;
    position: fixed;
    width: 100%;
}

.container-left {
    background-color: #6C87CB;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:max-content; /*230px*/
    border: 2px solid rgb(139, 139, 139);
    box-shadow: 3px 0 3px rgb(189, 187, 187);
}

.container-left h2 {
    text-align: center;
    margin-top: 20px;
    color: white;
}

.container-left footer  {
    margin-bottom: 20px;
}

.container-left footer a {
    background-color: #6C87CB;
    border: 0px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.usuario-div  {
    border: 1px solid rgb(182, 181, 181);
    background-color: #445C99;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.usuario-div p {
    color: #fff;
    font-size: 1.25em;
}

.usuario-div #dtDesl {
    border-radius: 10px;
    border: 1px solid #b8b6b6;
    padding: 3px;
    margin-top: 2px;
}

.usuario-div #sendOff {
    border: 1px solid rgb(182, 181, 181);
    border-radius: 10px;
    background-color: #3251a0;
    padding: 7px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 1.25em;
    color: #fff;
}

#sendOff:hover {
    background-color: #3059c0;
    padding: 9px;
}

.container-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    /* position: fixed; */
}

.container-right .scroll {
    overflow-y: scroll;
    height: 60vh;
    border-top: 2px solid rgba(0, 0, 0, 0.116);
    margin-bottom: 200px;
}

.container-right .scroll::-webkit-scrollbar {
    background-color: rgba(32, 17, 17, 0.342);
    /* border: 1px solid rgba(177, 177, 177, 0.712); */
    width: 3px;
}

.container-right .scroll::-webkit-scrollbar-thumb {
    background-color: #6C87CB;
    border-radius: 3px;
}

.container-right .barra-pesq #barra-pesquisar {
    padding: 18px;
    border-radius: 25px;
    border: 1px solid #807f7f;
    height: 10px;
    width: 70vh;
    margin-top: 25px; 
    margin-bottom: 30px;
}

.container-right h1 {
	text-align: center;
	margin: 10px 0 0 0;
	font-size: 1.75em;
	font-weight: bold;
    color: #445C99;
}

.container-right #func-deslig {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-bottom: 20px;
}

.container-right #func-deslig #mes {
    border-radius: 10px;
    border: 1px solid #747474;
    width: 250px;
    color: rgb(73, 73, 73);
    padding-left: 10px;
}

.container-right #func-deslig #listar {
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #3059c0;
    background-color: #5a7bce;
    color: #fff;
    font-size: 1.00em;
}

.container-right #func-deslig #list-func-off {
    border-radius: 15px;
    border: 1px solid #4067ca;
    padding: 8px;
    background-color: #5a7ac9;
    cursor: pointer;
    margin-right: 100px;
    font-size: 1.10em;
    color: #fff;
}