.container-cad {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastrar-container {
    width: 50%;
    max-width: 1120px;
    padding: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

    background-color: #E9E9E9;
}

.container-cad .cadastrar-container form h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
}

.container-cad .cadastrar-container form input {
    margin-bottom: 10px;
    padding: 20px;
    color: #000;
}

.container-cad .cadastrar-container form input:focus {
    border: 2px solid #6c87cb;
}

.cadastrar-container section button {
    width: 100%;
    height: 50px;
    padding: 5px;
    background-color: #6c87cb;
    border-radius: 10px;
    border: 2px solid #6483cf;
    margin-bottom: 10px;
    color: #ffffff;
}

.container-cad .cadastrar-container section a {
    color: #6C87CB;
    margin-top: 20px;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
