.dependentes {
    border-radius: 10px;
    border: 2px solid #a8a8a8;
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin: 10px;
    width: 140vh;
    height: 21vh;
    background-color: rgb(255, 255, 255);
}

.dependentes .elements {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 500px;
}

.dependentes .elements label {
    margin-bottom: 3px;
    font-size: 1.10em;
}

.dependentes .image-func {
    border: 1px solid #747474;
    border-radius: 50px;
    overflow: hidden;
    height: 100px;
    max-width: 100%
}

.dependentes .buttons {
    display: flex;
    flex-direction: column;
    margin-left: 15vh;
}

.dependentes .buttons #ListDep {
    background-color: #5978c7;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 15px;
    border: 2px solid #5578cf;
    font-size: 1.10em;
    color: #fff;
    cursor: pointer;
}

.dependentes .buttons #AddDep {
    background-color: #1dda65;
    padding: 8px;
    border-radius: 15px;
    border: 2px solid #3edd7b;
    font-size: 100%;
    color: #fff;
    cursor: pointer;
}