* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px sans-serif;
    background-color: #6C87CB;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea {
    font: 400 18px sans-serif;
}

.scroll2 {
    overflow-y: scroll;
    height: 100vh;
    border-top: 2px solid rgba(0, 0, 0, 0.116);
    margin-bottom: 20px;
}

.button {
    cursor: pointer;
    display: block;
}

form input {
    width: 100%;
    height: 60px;
    color: #FFFFFF;
    border: #A5A5A5 solid 1px; 
    border-radius: 10px;
    padding-left: 30px;
}